@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: #ffffff;
  --color-text-light: #162458;
  --color-background-dark: #162458;
  --color-text-dark: #ffffff;
}

[data-theme="light"] {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);

  .p4 {
    color: black;
  }
}

[data-theme="dark"] {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  .p1 {
    color: #1cdffe;
  }
  .p0 {
    background-color: #162458;
  }
  .p3 {
    background-color: #0c1633;
    /* color: black; */
  }
  .p4 {
    color: #ffffff;
  }
  .p2 {
    color: black;
  }
  
  .labelForum{
    color: #ffffff;
    background-color: #256eff;
  }
  .trSecond{
    color:white;
    background-color: #162458;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.modal-open footer {
  display: none;
}

.standard-image {
  width: 300px; /* Example width */
  height: 200px; /* Example height */
}

#del {
  position: sticky;

  left: 86%;
}

#edit {
  position: relative;
  left: 40%;
}
.grid {
  padding: 20px;
  justify-content: center;
  gap: 29px;
  display: flex;
  flex-wrap: wrap;
}

.h-8 {
  height: 4rem;
}
.justify-between {
  justify-content: space-between;
}
.p-4 {
  padding: 1rem 3rem;
}

.w-56 {
  width: 10rem;
}
.tokenBox {
  align-items: center;
  display: flex;
  justify-content: center;
}
.tokenChildBox {
  width: 30%;
  height: 230px;
}
@media (max-width: 900px) {
  .tokenBox {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .tokenChildBox {
    width: 45%;
    height: 230px;
  }
}
@media (max-width: 500px) {
  .tokenBox {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .tokenChildBox {
    width: 50%;
    height: 230px;
  }
}
.iframeBody {
  width: 100%;
  height: 700px;
  margin: 60px auto;
}
@media (max-width: 590px) {
  .iframeBody {
    margin: 80px auto;
  }
}
.cameratestBox {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
