@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: #ffffff;
  --color-text-light: #162458;
  --color-background-dark: #162458;
  --color-text-dark: #ffffff;
}

[data-theme='light'] {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);

  
}

[data-theme='dark'] {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  .p1{
    color: #1CDFFE;
  }
  .p0{
 background-color: #162458;
  }
  .p3{
    background-color: #0C1633;
  }
  .p4{
    color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.modal-open footer {
  display: none;
}

.standard-image {
  width: 300px; /* Example width */
  height: 200px; /* Example height */
}

#del{
   
      position: sticky;
     
      left: 86%;

}

#edit{
   
  position: relative;
  left: 40%;


}
.grid{
  PADDING: 20PX;
    JUSTIFY-CONTENT: center;
    GAP: 29PX;
    display: flex;
    flex-wrap: wrap;
}

